# Neon Postgres connection string
DATABASE_URL=postgresql://neondb_owner:npg_jDvd5aCuHAS4@ep-dark-cherry-alf2uc53-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
AUTH_SECRET=npg_jDvd5aCuHAS4

# JWT secret - bruk en lang, tilfeldig streng
JWT_SECRET=npg_jDvd5aCuHAS4

# Next.js base URL (brukes i produksjon)
NEXT_PUBLIC_BASE_URL="https://maskindeling.no"
