# Neon Postgres connection string
DATABASE_URL="postgresql://username:password@ep-xxx.eu-central-1.aws.neon.tech/maskindeling?sslmode=require"

# JWT secret - bruk en lang, tilfeldig streng
JWT_SECRET="din-hemmelige-nokkel-her-minst-32-tegn"

# Next.js base URL (brukes i produksjon)
NEXT_PUBLIC_BASE_URL="https://maskindeling.no"
