# Neon Postgres connection string
DATABASE_URL=postgresql://neondb_owner:npg_wSTEgJy93AYk@ep-steep-mouse-alh6uoxg-pooler.c-3.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
AUTH_SECRET=npg_wSTEgJy93AYk

# JWT secret - bruk en lang, tilfeldig streng
JWT_SECRET=npg_wSTEgJy93AYk

# Next.js base URL (brukes i produksjon)
NEXT_PUBLIC_BASE_URL="https://maskindeling.no"
